Updater/src/conf/xml-resources/web-service-references/NotificationsServiceImp/wsdl/safeguardtracking.no-ip.org_8080/NotificationsService/NotificationsServiceImp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://api/" name="NotificationsServiceImp">
<types>
<xsd:schema>
<xsd:import namespace="urn:oma:wsdl:pxprof:sms:1.0:types" schemaLocation="http://safeguardtracking.no-ip.org:8080/NotificationsService/NotificationsServiceImp?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://api/" schemaLocation="http://safeguardtracking.no-ip.org:8080/NotificationsService/NotificationsServiceImp?xsd=2"/>
</xsd:schema>
</types>
<message name="sendEmail">
<part name="parameters" element="tns:sendEmail"/>
</message>
<message name="sendEmailResponse">
<part name="parameters" element="tns:sendEmailResponse"/>
</message>
<message name="CouldNotSendEmailException">
<part name="fault" element="tns:CouldNotSendEmailException"/>
</message>
<message name="sendSMS">
<part name="parameters" element="tns:sendSMS"/>
</message>
<message name="sendSMSResponse">
<part name="parameters" element="tns:sendSMSResponse"/>
</message>
<message name="getSMSDeliveryStatus">
<part name="parameters" element="tns:getSMSDeliveryStatus"/>
</message>
<message name="getSMSDeliveryStatusResponse">
<part name="parameters" element="tns:getSMSDeliveryStatusResponse"/>
</message>
<portType name="NotificationsServiceImp">
<operation name="sendEmail">
<input wsam:Action="http://api/NotificationsServiceImp/sendEmailRequest" message="tns:sendEmail"/>
<output wsam:Action="http://api/NotificationsServiceImp/sendEmailResponse" message="tns:sendEmailResponse"/>
<fault message="tns:CouldNotSendEmailException" name="CouldNotSendEmailException" wsam:Action="http://api/NotificationsServiceImp/sendEmail/Fault/CouldNotSendEmailException"/>
</operation>
<operation name="sendSMS">
<input wsam:Action="http://api/NotificationsServiceImp/sendSMSRequest" message="tns:sendSMS"/>
<output wsam:Action="http://api/NotificationsServiceImp/sendSMSResponse" message="tns:sendSMSResponse"/>
</operation>
<operation name="getSMSDeliveryStatus">
<input wsam:Action="http://api/NotificationsServiceImp/getSMSDeliveryStatusRequest" message="tns:getSMSDeliveryStatus"/>
<output wsam:Action="http://api/NotificationsServiceImp/getSMSDeliveryStatusResponse" message="tns:getSMSDeliveryStatusResponse"/>
</operation>
</portType>
<binding name="NotificationsServiceImpPortBinding" type="tns:NotificationsServiceImp">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sendEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CouldNotSendEmailException">
<soap:fault name="CouldNotSendEmailException" use="literal"/>
</fault>
</operation>
<operation name="sendSMS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSMSDeliveryStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NotificationsServiceImp">
<port name="NotificationsServiceImpPort" binding="tns:NotificationsServiceImpPortBinding">
<soap:address location="http://safeguardtracking.no-ip.org:8080/NotificationsService/NotificationsServiceImp"/>
</port>
</service>
</definitions>