Updater/web/WEB-INF/wsdl/192.168.8.217_7706/GeoreferencingService/Georeferencing.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://georeferencingservice.es.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://georeferencingservice.es.com/" name="Georeferencing">
<wsp:Policy wsu:Id="GeoreferencingImplPortBinding_MTOM_Policy-GeoreferencingImplPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://georeferencingservice.es.com/" schemaLocation="https://127.0.01:8181/GeoreferencingService/Georeferencing?xsd=1"/>
</xsd:schema>
</types>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="removeUserResponse">
<part name="parameters" element="tns:removeUserResponse"/>
</message>
<message name="GeoreferencingAuthenticationException">
<part name="fault" element="tns:GeoreferencingAuthenticationException"/>
</message>
<message name="GeoreferencingSQLException">
<part name="fault" element="tns:GeoreferencingSQLException"/>
</message>
<message name="GeoreferencingUserNotExistsException">
<part name="fault" element="tns:GeoreferencingUserNotExistsException"/>
</message>
<message name="editFence">
<part name="parameters" element="tns:editFence"/>
</message>
<message name="editFenceResponse">
<part name="parameters" element="tns:editFenceResponse"/>
</message>
<message name="GeoreferencingEmptyException">
<part name="fault" element="tns:GeoreferencingEmptyException"/>
</message>
<message name="GeoreferencingCoordinatesException">
<part name="fault" element="tns:GeoreferencingCoordinatesException"/>
</message>
<message name="GeoreferencingNotExistsException">
<part name="fault" element="tns:GeoreferencingNotExistsException"/>
</message>
<message name="removeFence">
<part name="parameters" element="tns:removeFence"/>
</message>
<message name="removeFenceResponse">
<part name="parameters" element="tns:removeFenceResponse"/>
</message>
<message name="getFences">
<part name="parameters" element="tns:getFences"/>
</message>
<message name="getFencesResponse">
<part name="parameters" element="tns:getFencesResponse"/>
</message>
<message name="insertFence">
<part name="parameters" element="tns:insertFence"/>
</message>
<message name="insertFenceResponse">
<part name="parameters" element="tns:insertFenceResponse"/>
</message>
<message name="GeoreferencingAlreadyExistsException">
<part name="fault" element="tns:GeoreferencingAlreadyExistsException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="fencesContainingCoordinate">
<part name="parameters" element="tns:fencesContainingCoordinate"/>
</message>
<message name="fencesContainingCoordinateResponse">
<part name="parameters" element="tns:fencesContainingCoordinateResponse"/>
</message>
<message name="GeorefererencingException">
<part name="fault" element="tns:GeorefererencingException"/>
</message>
<message name="insertCoordinate">
<part name="parameters" element="tns:insertCoordinate"/>
</message>
<message name="insertCoordinateResponse">
<part name="parameters" element="tns:insertCoordinateResponse"/>
</message>
<message name="editCoordinate">
<part name="parameters" element="tns:editCoordinate"/>
</message>
<message name="editCoordinateResponse">
<part name="parameters" element="tns:editCoordinateResponse"/>
</message>
<message name="removeCoordinate">
<part name="parameters" element="tns:removeCoordinate"/>
</message>
<message name="removeCoordinateResponse">
<part name="parameters" element="tns:removeCoordinateResponse"/>
</message>
<message name="getCompleteCoordinateHistory">
<part name="parameters" element="tns:getCompleteCoordinateHistory"/>
</message>
<message name="getCompleteCoordinateHistoryResponse">
<part name="parameters" element="tns:getCompleteCoordinateHistoryResponse"/>
</message>
<message name="getCoordinateHistory">
<part name="parameters" element="tns:getCoordinateHistory"/>
</message>
<message name="getCoordinateHistoryResponse">
<part name="parameters" element="tns:getCoordinateHistoryResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<portType name="GeoreferencingImpl">
<operation name="removeUser">
<input wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeUserRequest" message="tns:removeUser"/>
<output wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeUserResponse" message="tns:removeUserResponse"/>
<fault message="tns:GeoreferencingAuthenticationException" name="GeoreferencingAuthenticationException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeUser/Fault/GeoreferencingAuthenticationException"/>
<fault message="tns:GeoreferencingSQLException" name="GeoreferencingSQLException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeUser/Fault/GeoreferencingSQLException"/>
<fault message="tns:GeoreferencingUserNotExistsException" name="GeoreferencingUserNotExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeUser/Fault/GeoreferencingUserNotExistsException"/>
</operation>
<operation name="editFence">
<input wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editFenceRequest" message="tns:editFence"/>
<output wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editFenceResponse" message="tns:editFenceResponse"/>
<fault message="tns:GeoreferencingEmptyException" name="GeoreferencingEmptyException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editFence/Fault/GeoreferencingEmptyException"/>
<fault message="tns:GeoreferencingCoordinatesException" name="GeoreferencingCoordinatesException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editFence/Fault/GeoreferencingCoordinatesException"/>
<fault message="tns:GeoreferencingNotExistsException" name="GeoreferencingNotExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editFence/Fault/GeoreferencingNotExistsException"/>
<fault message="tns:GeoreferencingSQLException" name="GeoreferencingSQLException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editFence/Fault/GeoreferencingSQLException"/>
<fault message="tns:GeoreferencingAuthenticationException" name="GeoreferencingAuthenticationException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editFence/Fault/GeoreferencingAuthenticationException"/>
<fault message="tns:GeoreferencingUserNotExistsException" name="GeoreferencingUserNotExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editFence/Fault/GeoreferencingUserNotExistsException"/>
</operation>
<operation name="removeFence">
<input wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeFenceRequest" message="tns:removeFence"/>
<output wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeFenceResponse" message="tns:removeFenceResponse"/>
<fault message="tns:GeoreferencingNotExistsException" name="GeoreferencingNotExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeFence/Fault/GeoreferencingNotExistsException"/>
<fault message="tns:GeoreferencingSQLException" name="GeoreferencingSQLException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeFence/Fault/GeoreferencingSQLException"/>
<fault message="tns:GeoreferencingAuthenticationException" name="GeoreferencingAuthenticationException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeFence/Fault/GeoreferencingAuthenticationException"/>
<fault message="tns:GeoreferencingUserNotExistsException" name="GeoreferencingUserNotExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeFence/Fault/GeoreferencingUserNotExistsException"/>
</operation>
<operation name="getFences">
<input wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/getFencesRequest" message="tns:getFences"/>
<output wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/getFencesResponse" message="tns:getFencesResponse"/>
<fault message="tns:GeoreferencingSQLException" name="GeoreferencingSQLException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/getFences/Fault/GeoreferencingSQLException"/>
<fault message="tns:GeoreferencingAuthenticationException" name="GeoreferencingAuthenticationException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/getFences/Fault/GeoreferencingAuthenticationException"/>
</operation>
<operation name="insertFence">
<input wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertFenceRequest" message="tns:insertFence"/>
<output wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertFenceResponse" message="tns:insertFenceResponse"/>
<fault message="tns:GeoreferencingEmptyException" name="GeoreferencingEmptyException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertFence/Fault/GeoreferencingEmptyException"/>
<fault message="tns:GeoreferencingCoordinatesException" name="GeoreferencingCoordinatesException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertFence/Fault/GeoreferencingCoordinatesException"/>
<fault message="tns:GeoreferencingAlreadyExistsException" name="GeoreferencingAlreadyExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertFence/Fault/GeoreferencingAlreadyExistsException"/>
<fault message="tns:GeoreferencingSQLException" name="GeoreferencingSQLException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertFence/Fault/GeoreferencingSQLException"/>
<fault message="tns:GeoreferencingAuthenticationException" name="GeoreferencingAuthenticationException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertFence/Fault/GeoreferencingAuthenticationException"/>
<fault message="tns:GeoreferencingUserNotExistsException" name="GeoreferencingUserNotExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertFence/Fault/GeoreferencingUserNotExistsException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertFence/Fault/IOException"/>
</operation>
<operation name="fencesContainingCoordinate">
<input wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/fencesContainingCoordinateRequest" message="tns:fencesContainingCoordinate"/>
<output wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/fencesContainingCoordinateResponse" message="tns:fencesContainingCoordinateResponse"/>
<fault message="tns:GeoreferencingCoordinatesException" name="GeoreferencingCoordinatesException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/fencesContainingCoordinate/Fault/GeoreferencingCoordinatesException"/>
<fault message="tns:GeorefererencingException" name="GeorefererencingException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/fencesContainingCoordinate/Fault/GeorefererencingException"/>
</operation>
<operation name="insertCoordinate">
<input wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertCoordinateRequest" message="tns:insertCoordinate"/>
<output wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertCoordinateResponse" message="tns:insertCoordinateResponse"/>
<fault message="tns:GeoreferencingEmptyException" name="GeoreferencingEmptyException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertCoordinate/Fault/GeoreferencingEmptyException"/>
<fault message="tns:GeoreferencingCoordinatesException" name="GeoreferencingCoordinatesException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertCoordinate/Fault/GeoreferencingCoordinatesException"/>
<fault message="tns:GeoreferencingSQLException" name="GeoreferencingSQLException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertCoordinate/Fault/GeoreferencingSQLException"/>
<fault message="tns:GeoreferencingAuthenticationException" name="GeoreferencingAuthenticationException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertCoordinate/Fault/GeoreferencingAuthenticationException"/>
<fault message="tns:GeoreferencingUserNotExistsException" name="GeoreferencingUserNotExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/insertCoordinate/Fault/GeoreferencingUserNotExistsException"/>
</operation>
<operation name="editCoordinate">
<input wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editCoordinateRequest" message="tns:editCoordinate"/>
<output wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editCoordinateResponse" message="tns:editCoordinateResponse"/>
<fault message="tns:GeoreferencingEmptyException" name="GeoreferencingEmptyException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editCoordinate/Fault/GeoreferencingEmptyException"/>
<fault message="tns:GeoreferencingCoordinatesException" name="GeoreferencingCoordinatesException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editCoordinate/Fault/GeoreferencingCoordinatesException"/>
<fault message="tns:GeoreferencingNotExistsException" name="GeoreferencingNotExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editCoordinate/Fault/GeoreferencingNotExistsException"/>
<fault message="tns:GeoreferencingSQLException" name="GeoreferencingSQLException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editCoordinate/Fault/GeoreferencingSQLException"/>
<fault message="tns:GeoreferencingAuthenticationException" name="GeoreferencingAuthenticationException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editCoordinate/Fault/GeoreferencingAuthenticationException"/>
<fault message="tns:GeoreferencingUserNotExistsException" name="GeoreferencingUserNotExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/editCoordinate/Fault/GeoreferencingUserNotExistsException"/>
</operation>
<operation name="removeCoordinate">
<input wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeCoordinateRequest" message="tns:removeCoordinate"/>
<output wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeCoordinateResponse" message="tns:removeCoordinateResponse"/>
<fault message="tns:GeoreferencingNotExistsException" name="GeoreferencingNotExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeCoordinate/Fault/GeoreferencingNotExistsException"/>
<fault message="tns:GeoreferencingSQLException" name="GeoreferencingSQLException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeCoordinate/Fault/GeoreferencingSQLException"/>
<fault message="tns:GeoreferencingAuthenticationException" name="GeoreferencingAuthenticationException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeCoordinate/Fault/GeoreferencingAuthenticationException"/>
<fault message="tns:GeoreferencingUserNotExistsException" name="GeoreferencingUserNotExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/removeCoordinate/Fault/GeoreferencingUserNotExistsException"/>
</operation>
<operation name="getCompleteCoordinateHistory">
<input wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/getCompleteCoordinateHistoryRequest" message="tns:getCompleteCoordinateHistory"/>
<output wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/getCompleteCoordinateHistoryResponse" message="tns:getCompleteCoordinateHistoryResponse"/>
<fault message="tns:GeoreferencingSQLException" name="GeoreferencingSQLException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/getCompleteCoordinateHistory/Fault/GeoreferencingSQLException"/>
<fault message="tns:GeoreferencingAuthenticationException" name="GeoreferencingAuthenticationException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/getCompleteCoordinateHistory/Fault/GeoreferencingAuthenticationException"/>
</operation>
<operation name="getCoordinateHistory">
<input wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/getCoordinateHistoryRequest" message="tns:getCoordinateHistory"/>
<output wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/getCoordinateHistoryResponse" message="tns:getCoordinateHistoryResponse"/>
<fault message="tns:GeoreferencingSQLException" name="GeoreferencingSQLException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/getCoordinateHistory/Fault/GeoreferencingSQLException"/>
<fault message="tns:GeoreferencingAuthenticationException" name="GeoreferencingAuthenticationException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/getCoordinateHistory/Fault/GeoreferencingAuthenticationException"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/createUserResponse" message="tns:createUserResponse"/>
<fault message="tns:GeoreferencingAuthenticationException" name="GeoreferencingAuthenticationException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/createUser/Fault/GeoreferencingAuthenticationException"/>
<fault message="tns:GeoreferencingSQLException" name="GeoreferencingSQLException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/createUser/Fault/GeoreferencingSQLException"/>
<fault message="tns:GeoreferencingAlreadyExistsException" name="GeoreferencingAlreadyExistsException" wsam:Action="http://georeferencingservice.es.com/GeoreferencingImpl/createUser/Fault/GeoreferencingAlreadyExistsException"/>
</operation>
</portType>
<binding name="GeoreferencingImplPortBinding" type="tns:GeoreferencingImpl">
<wsp:PolicyReference URI="#GeoreferencingImplPortBinding_MTOM_Policy-GeoreferencingImplPortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeoreferencingAuthenticationException">
<soap:fault name="GeoreferencingAuthenticationException" use="literal"/>
</fault>
<fault name="GeoreferencingSQLException">
<soap:fault name="GeoreferencingSQLException" use="literal"/>
</fault>
<fault name="GeoreferencingUserNotExistsException">
<soap:fault name="GeoreferencingUserNotExistsException" use="literal"/>
</fault>
</operation>
<operation name="editFence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeoreferencingEmptyException">
<soap:fault name="GeoreferencingEmptyException" use="literal"/>
</fault>
<fault name="GeoreferencingCoordinatesException">
<soap:fault name="GeoreferencingCoordinatesException" use="literal"/>
</fault>
<fault name="GeoreferencingNotExistsException">
<soap:fault name="GeoreferencingNotExistsException" use="literal"/>
</fault>
<fault name="GeoreferencingSQLException">
<soap:fault name="GeoreferencingSQLException" use="literal"/>
</fault>
<fault name="GeoreferencingAuthenticationException">
<soap:fault name="GeoreferencingAuthenticationException" use="literal"/>
</fault>
<fault name="GeoreferencingUserNotExistsException">
<soap:fault name="GeoreferencingUserNotExistsException" use="literal"/>
</fault>
</operation>
<operation name="removeFence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeoreferencingNotExistsException">
<soap:fault name="GeoreferencingNotExistsException" use="literal"/>
</fault>
<fault name="GeoreferencingSQLException">
<soap:fault name="GeoreferencingSQLException" use="literal"/>
</fault>
<fault name="GeoreferencingAuthenticationException">
<soap:fault name="GeoreferencingAuthenticationException" use="literal"/>
</fault>
<fault name="GeoreferencingUserNotExistsException">
<soap:fault name="GeoreferencingUserNotExistsException" use="literal"/>
</fault>
</operation>
<operation name="getFences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeoreferencingSQLException">
<soap:fault name="GeoreferencingSQLException" use="literal"/>
</fault>
<fault name="GeoreferencingAuthenticationException">
<soap:fault name="GeoreferencingAuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="insertFence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeoreferencingEmptyException">
<soap:fault name="GeoreferencingEmptyException" use="literal"/>
</fault>
<fault name="GeoreferencingCoordinatesException">
<soap:fault name="GeoreferencingCoordinatesException" use="literal"/>
</fault>
<fault name="GeoreferencingAlreadyExistsException">
<soap:fault name="GeoreferencingAlreadyExistsException" use="literal"/>
</fault>
<fault name="GeoreferencingSQLException">
<soap:fault name="GeoreferencingSQLException" use="literal"/>
</fault>
<fault name="GeoreferencingAuthenticationException">
<soap:fault name="GeoreferencingAuthenticationException" use="literal"/>
</fault>
<fault name="GeoreferencingUserNotExistsException">
<soap:fault name="GeoreferencingUserNotExistsException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="fencesContainingCoordinate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeoreferencingCoordinatesException">
<soap:fault name="GeoreferencingCoordinatesException" use="literal"/>
</fault>
<fault name="GeorefererencingException">
<soap:fault name="GeorefererencingException" use="literal"/>
</fault>
</operation>
<operation name="insertCoordinate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeoreferencingEmptyException">
<soap:fault name="GeoreferencingEmptyException" use="literal"/>
</fault>
<fault name="GeoreferencingCoordinatesException">
<soap:fault name="GeoreferencingCoordinatesException" use="literal"/>
</fault>
<fault name="GeoreferencingSQLException">
<soap:fault name="GeoreferencingSQLException" use="literal"/>
</fault>
<fault name="GeoreferencingAuthenticationException">
<soap:fault name="GeoreferencingAuthenticationException" use="literal"/>
</fault>
<fault name="GeoreferencingUserNotExistsException">
<soap:fault name="GeoreferencingUserNotExistsException" use="literal"/>
</fault>
</operation>
<operation name="editCoordinate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeoreferencingEmptyException">
<soap:fault name="GeoreferencingEmptyException" use="literal"/>
</fault>
<fault name="GeoreferencingCoordinatesException">
<soap:fault name="GeoreferencingCoordinatesException" use="literal"/>
</fault>
<fault name="GeoreferencingNotExistsException">
<soap:fault name="GeoreferencingNotExistsException" use="literal"/>
</fault>
<fault name="GeoreferencingSQLException">
<soap:fault name="GeoreferencingSQLException" use="literal"/>
</fault>
<fault name="GeoreferencingAuthenticationException">
<soap:fault name="GeoreferencingAuthenticationException" use="literal"/>
</fault>
<fault name="GeoreferencingUserNotExistsException">
<soap:fault name="GeoreferencingUserNotExistsException" use="literal"/>
</fault>
</operation>
<operation name="removeCoordinate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeoreferencingNotExistsException">
<soap:fault name="GeoreferencingNotExistsException" use="literal"/>
</fault>
<fault name="GeoreferencingSQLException">
<soap:fault name="GeoreferencingSQLException" use="literal"/>
</fault>
<fault name="GeoreferencingAuthenticationException">
<soap:fault name="GeoreferencingAuthenticationException" use="literal"/>
</fault>
<fault name="GeoreferencingUserNotExistsException">
<soap:fault name="GeoreferencingUserNotExistsException" use="literal"/>
</fault>
</operation>
<operation name="getCompleteCoordinateHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeoreferencingSQLException">
<soap:fault name="GeoreferencingSQLException" use="literal"/>
</fault>
<fault name="GeoreferencingAuthenticationException">
<soap:fault name="GeoreferencingAuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="getCoordinateHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeoreferencingSQLException">
<soap:fault name="GeoreferencingSQLException" use="literal"/>
</fault>
<fault name="GeoreferencingAuthenticationException">
<soap:fault name="GeoreferencingAuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeoreferencingAuthenticationException">
<soap:fault name="GeoreferencingAuthenticationException" use="literal"/>
</fault>
<fault name="GeoreferencingSQLException">
<soap:fault name="GeoreferencingSQLException" use="literal"/>
</fault>
<fault name="GeoreferencingAlreadyExistsException">
<soap:fault name="GeoreferencingAlreadyExistsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Georeferencing">
<port name="GeoreferencingImplPort" binding="tns:GeoreferencingImplPortBinding">
<soap:address location="https://127.0.01:8181/GeoreferencingService/Georeferencing"/>
</port>
</service>
</definitions>