Updater/web/WEB-INF/wsdl/safeguardtracking.no-ip.org_8080/NotificationsService/NotificationsServiceImp.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://api/" xmlns:ns1="urn:oma:wsdl:pxprof:sms:1.0:types" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://api/">

<xs:import namespace="urn:oma:wsdl:pxprof:sms:1.0:types" schemaLocation="http://safeguardtracking.no-ip.org:8080/NotificationsService/NotificationsServiceImp?xsd=1"/>

<xs:element name="CouldNotSendEmailException" type="tns:CouldNotSendEmailException"/>

<xs:element name="getSMSDeliveryStatus" type="tns:getSMSDeliveryStatus"/>

<xs:element name="getSMSDeliveryStatusResponse" type="tns:getSMSDeliveryStatusResponse"/>

<xs:element name="sendEmail" type="tns:sendEmail"/>

<xs:element name="sendEmailResponse" type="tns:sendEmailResponse"/>

<xs:element name="sendSMS" type="tns:sendSMS"/>

<xs:element name="sendSMSResponse" type="tns:sendSMSResponse"/>

<xs:complexType name="sendSMS">
<xs:sequence>
<xs:element name="addresses" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="senderName" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendSMSResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSMSDeliveryStatus">
<xs:sequence>
<xs:element name="requestIdentifier" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSMSDeliveryStatusResponse">
<xs:sequence>
<xs:element name="return" type="ns1:DeliveryInformation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendEmail">
<xs:sequence>
<xs:element name="sourceEmail" type="xs:string" minOccurs="0"/>
<xs:element name="sourcePassword" type="xs:string" minOccurs="0"/>
<xs:element name="destinationEmail" type="xs:string" minOccurs="0"/>
<xs:element name="subject" type="xs:string" minOccurs="0"/>
<xs:element name="body" type="xs:string" minOccurs="0"/>
<xs:element name="attachment" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="attachmentName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendEmailResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CouldNotSendEmailException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>